
* {
    list-style: none;
}

.main_header {
    background-color : rgb(40, 40, 147);
    display : flex;
    justify-content: center;
}    

.main_header .main_title {
    color : white;
    padding : 20px;
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 700;
    font-style: normal;
}

main {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.main_board {
    padding : 0;
    margin : 0;
}

.main_board > li {
    padding : 10px;
    text-align: center;
}

.main_board > li:first-of-type {
    padding-top : 20px;
}

.main_board > li:last-of-type {
    padding-bottom : 20px;
}

.pagination > li:nth-child(2) > .page-link {
    background-color : rgb(40, 40, 147);
    color : white;
}

.create_button {
    position : absolute;
    right : 20px;
    top : 30px;
    text-decoration: none;
    color : white;
}

.content > a {
    text-decoration: none;
    color : rgb(40, 40, 147);
}

.main_title > a {
    text-decoration: none;
    color : white;
}